*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(./imagen/destacada3.jpg) no-repeat center center/cover;
}

.contenido-centrado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenedor{
    width: 15em;
    max-width: 500px;
    min-height: 400px;
    padding: 20px;
    background-color: white;
    border: 5px solid black;
    border-radius: 30px;
}

.contenedor-interno{
    width: 10em;
}

#titulo{
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: 'Courgette', cursive;
}

#citas{
    font-size: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

#autor{
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Courgette', cursive;
}

#botton-cambiar-cita{
    width: 180px;
    height: 50px;
    font-family: 20px;
}

